<a href="https://colab.research.google.com/github/pankajthakur93507-droid/phython-class/blob/main/classpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello i am Pankaj")

hello i am Pankaj

In [ ]:
# code for biodata #
print("------Bio Data-----")
print("NAME:PANKAJ ")
print("Age:19")
print("class:Phython ")
print("gmail:pankajkthakur93507@gmail.com " )
print("Ph:1234567890")
print(" -----INformation-----")
print("address:Morni Hilss BhojKoti")
print("Distric:Panchkula")
print("Country:India")
print("Village:Mahmal")

print("-----Body INformation-----")
print("Height:5.5 fit")
print("Weight:55kg")
print("Date of birth:-07june2006")
print("institute:C Bitss SEC34 chandighar")

------Bio Data-----
NAME:PANKAJ
Age:19
class:Phython
gmail:pankajkthakur93507@gmail.com
Ph:1234567890
 -----INformation-----
address:Morni Hilss BhojKoti
Distric:Panchkula
Country:India
Village:Mamal
-----Body INformation-----
Height:5.5 fit
Weight:55kg
Date of birth:-07june2006
institute:C Bitss SEC34 chandighar

In [ ]:
Name="Pankaj"
print("name:",name)

name: pankaj

In [ ]:
age=19
print("meri age  hai:",age)

meri age  hai: 19

In [ ]:
name="pankaj"
age=19
address="morni"
print("my name is ",name , "i am ",age," year old","i from",address)

my name is  pankaj i am  19  year old i from morni

In [ ]:
first_number=5
second_number=8
print(first_number+second_number)

13

In [ ]:
a=500
b=100
sum=a+b
print("sum",sum)

sum 600

In [ ]:
a=500
b=100
sub=a-b
print("sub",sub)

sub 400

In [ ]:
a=500
b=100
product=a*b
print("product",product)

product 50000

In [ ]:
item1="pizza"
price_of_item1=200
item2="coke"
price_of_item2=300
item3="sting"
price_of_item3=100
item4="burgur"
price_of_item4=100
item5="smosa"
price_of_item5=70
item6="dew"
price_of_item6=40
item7="noddles"
price_of_item7=30
print("        rana dhaba      ")
print("____________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print(item6,"=",price_of_item6)
print(item7,"=",price_of_item7)
print("-----------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5+price_of_item6+price_of_item7
print("total bill=",sum)
discount=sum*(10/100)
print("discount=",discount)
print("--------------------------")
print("total amount with discount=",sum-discount)

        rana dhaba
____________bill___________
pizza = 200
coke = 300
sting = 100
burgur = 100
smosa = 70
dew = 40
noddles = 30
-----------------------------
total bill= 840
discount= 84.0
--------------------------
total amount with discount= 756.0

In [ ]:
name="pankaj"
address="morni"
mobile_number=1234567890
pincode=134205
print("name:",name)
print("address:",address)
print("mobile_number:",mobile_number)
print("pincode:",pincode)

name: pankaj
address: morni
mobile_number: 1234567890
pincode: 134205

In [ ]:
item=input("enter your item name= ")
price=int(input("enter your price="))

enter your item name= pizaa
enter your price=1000

In [ ]:
a=int(input("enter your valu of a"))
b=int(input("enter your valu of b"))
sum=a+b
print("sum=",sum)
sub=a-b
print("sub=",sub)
multiply=a*b
print("multiply=",multiply)
divide=a/b
print("divide=",divide)

enter your valu of a8
enter your valu of b7
sum= 15
sub= 1
multiply= 56
divide= 1.1428571428571428

In [ ]:
n=int(input("enter your number"))
if n/2==0:
  print("even")
else:
  print("odd")

enter your number20
odd

In [ ]:
gender=input("enter you grnder")
if gender=="female":
  print(" sunday , monday ,tuesday")
else:
  print(" wednesday , thursday , friday")

enter you grndermale
 wednesday , thursday , friday

In [ ]:
p=int(input("enter your principal"))
r=int(input("enter your rate"))
t=int(input("enter your time"))
time_in_day=int(input("enter your time in day"))
month=input("enter your month=")
year=int(input("enter your year="))
if month=="jan" or month=="mar" or month=="may" or month=="jul" or month=="aug" or month=="oct" or month=="dec":
 days_in_month=31
elif month=="apr" or month=="jun" or month=="sep" or month=="nov":
 days_in_month=30
elif month=="feb":
  if year % 4 == 0 and year % 100!=0 or year % 400 == 0:
     days_in_month=29
  else:
     days_in_month=28
else:
   print("Invalid month entered.")
print("days in month=",days_in_month)
time_in_month=time_in_day/days_in_month
print("time in month=",time_in_month)
si=(p*r*t)/100
si_in_month= p*r*time_in_month/100
total_si= si+si_in_month
print("total interest=",total_si)

enter your principal5000
enter your rate5
enter your time3
enter your time in day20
enter your month=feb
enter your year=2000
days in month= 29
time in month= 0.6896551724137931
total interest= 922.4137931034483

In [ ]:
number=9
if number % 2 == 0:
  print("even")
else:
  print("odd")

odd

In [ ]:
number=49
if number % 7 == 0 and number % 5 == 0:
  print("The number is divisible by both 7 and 5")
else:
  print("The number is not divisible by both 7 and 5")

In [ ]:
gender=input("enter your gender=")
age=int(input("enter your age="))
if gender=="male":
  print("go to hotal= a")
  if age>30:
    print("go to bulding=1")
  else:
    print("go to bulding=2")
else:
  print("go to hotal= b")
  if age<30:
    print("go to bulding=1")
  else:
      print("go to bulding=2")

enter your gender=male
enter your age=30
go to hotal= a
go to bulding=2

In [ ]:
month=input("enter your month=")
year=int(input("enter your year="))
if month=="jan" or month=="mar" or month=="may" or month=="jul" or month=="aug" or month=="oct" or month=="dec":
 days_in_month=31
elif month=="apr" or month=="jun" or month=="sep" or month=="nov":
 days_in_month=30
elif month=="feb":
  if year % 4 == 0 and year % 100!=0 or year % 400 == 0:
     days_in_month=29
  else:
     days_in_month=28
else:
   print("Invalid month entered.")
print("days in month=",days_in_month)

enter your month=jun
enter your year=2000
days in month= 30

In [ ]:
year=int(input("enter your year="))
if year % 4 == 0 and year % 100!=0 or year % 400 == 0:
 days_in_month=29
else:
  days_in_month=28
print("days in month=",days_in_month)

enter your year=2000
days in month= 29

In [2]:
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  if i%2!=0:
    sum=sum+fact
print(sum)

127

In [9]:

sum=0
for i in range(1,6,2):
 fact=1
 for j in range(1,i+1):
  fact=fact*j
 sum=sum+fact
print(sum)

127

In [28]:
fact=1
sum=0
for i in range(1,7):
  fact=fact*i
  if i%2==0:
    sum=sum+fact
print(sum)

746

In [27]:
sum=0
for i in range(1,7,2):
  fact=1
  for j in range(1,i+2):
    fact=fact*j
  sum=sum+fact
print(sum)

746

In [38]:
fact=1
sum=0
for i in range(1,10):
 fact=fact*i
 if i%2!=0:
   sum=sum+fact
print(sum)

368047

In [48]:
# 2!+6!+10!+?
fact=1
sum=0
for i in range(2,11):
  fact=fact*i
  if i%4==2:
    sum=sum+fact
print(sum)

3629522

In [47]:
# 2!+6!+10!+?
sum=0
for i in range(2,11,4):
  fact=1
  for j in range(2,i+1):
    fact=fact*j
  sum=sum+fact
  print(sum)

2
722
3629522

In [ ]:
# 3!+8!+13!+14!+20!+26!=?
sum=0