<a href="https://colab.research.google.com/github/pankajthakur93507-droid/phython-class/blob/main/classpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello i am Pankaj")

hello i am Pankaj

In [ ]:
# code for biodata #
print("------Bio Data-----")
print("NAME:PANKAJ ")
print("Age:19")
print("class:Phython ")
print("gmail:pankajkthakur93507@gmail.com " )
print("Ph:1234567890")
print(" -----INformation-----")
print("address:Morni Hilss BhojKoti")
print("Distric:Panchkula")
print("Country:India")
print("Village:Mamal")

print("-----Body INformation-----")
print("Height:5.5 fit")
print("Weight:55kg")
print("Date of birth:-07june2006")
print("institute:C Bitss SEC34 chandighar")

------Bio Data-----
NAME:PANKAJ
Age:19
class:Phython
gmail:pankajkthakur93507@gmail.com
Ph:1234567890
 -----INformation-----
address:Morni Hilss BhojKoti
Distric:Panchkula
Country:India
Village:Mamal
-----Body INformation-----
Height:5.5 fit
Weight:55kg
Date of birth:-07june2006
institute:C Bitss SEC34 chandighar

In [ ]:
Name="Pankaj"
print("name:",name)

name: pankaj

In [ ]:
age=19
print("meri age  hai:",age)

meri age  hai: 19

In [3]:
name="pankaj"
age=19
address="morni"
print("my name is ",name , "i am ",age," year old","i from",address)

my name is  pankaj i am  19  year old i from morni

In [6]:
first_number=5
second_number=8
print(first_number+second_number)

13

In [7]:
a=500
b=100
sum=a+b
print("sum",sum)

sum 600

In [8]:
a=500
b=100
sub=a-b
print("sub",sub)

sub 400

In [9]:
a=500
b=100
product=a*b
print("product",product)

product 50000

In [20]:
item1="pizza"
price_of_item1=200
item2="coke"
price_of_item2=300
item3="sting"
price_of_item3=100
item4="burgur"
price_of_item4=100
item5="smosa"
price_of_item5=70
print("        rana dhaba      ")
print("____________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item4,"=",price_of_item5)
print("-----------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("total bill=",sum)

        rana dhaba
____________bill___________
pizza = 200
coke = 300
sting = 100
burgur = 100
burgur = 70
-----------------------------
total bill= 770